{% extends 'base_template.html' %}

{% block content %}
<form method="get" action="{{ url_for('get_result') }}">
    <div class="form-group">
        <label for="exampleFormControlSelect2">Выберите компании для анализа:</label>
        <select multiple class="form-control" id="exampleFormControlSelect2" name="companies">
            {% for company in companies %}
            <option value="{{ company['ID'] }}">{{ company['TITLE'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="inlineFormCustomSelect">Как получить данные?</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="return_type">
            <option selected>Выберите...</option>
            <option value="chat">Живая лента</option>
            <option value="frame">Приложение</option>
        </select>
    </div>

    <!--Проброс с индекса на следующую страницу, щито поделать -->
    <input type="hidden" name="DOMAIN" value="{{ request.args.get('DOMAIN', domain) }}">
    <input type="hidden" name="LANG" value="{{ request.args.get('LANG', lang) }}">
    <input type="hidden" name="AUTH_ID" value="{{ request.args.get('AUTH_ID', auth_token) }}">
    <input type="hidden" name="REFRESH_ID" value="{{ request.args.get('REFRESH_ID', ref_token) }}">
    <!--Проброс с индекса на следующую страницу, щито поделать -->
    <button type="submit" class="btn btn-outline-primary">Выбрать</button>
</form>
{% endblock %}


