{% extends 'base_template.html' %}

{% block content %}
<div id="app" class="container-fluid" style="font: 15px OpenSans-Semibold, Helvetica Neue, Arial, Helvetica, sans-serif;">

    <div class="tabs">
        <input type="radio" name="inset" value="" id="tab_1" checked>
        <label for="tab_1">Активные</label>

        <input type="radio" name="inset" value="" id="tab_2">
        <label for="tab_2">Спящие</label>

        <input type="radio" name="inset" value="" id="tab_3">
        <label for="tab_3">Потерянные</label>
        <div id="txt_1">
            <table id="table1" class="uk-table uk-table-hover uk-table-striped">
                <thead>
                <tr>
                    <th style="width: 31%">Компания</th>
                    <th style="width: 23%; text-align: center">
                        платы за 3 месяца
                    </th>
                    <th style="width: 23%; text-align: center">
                        3-6 месяцев назад
                    </th>
                    <th style="width: 23%; text-align: center">
                        > 6 месяцев назад
                    </th>
                </tr>
                </thead>
                <tbody id="active" class="searchable">
                {% for company in companies %}
                    <tr>
                        <td>{{ company['TITLE'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="txt_2">
            <table id="table2" class="uk-table uk-table-hover uk-table-striped">
                <thead>
                <tr>
                    <th style="width: 31%">Компания</th>
                    <th style="width: 23%; text-align: center">
                        платы за 3 месяца
                    </th>
                    <th style="width: 23%; text-align: center">
                        3-6 месяцев назад
                    </th>
                    <th style="width: 23%; text-align: center">
                        > 6 месяцев назад
                    </th>
                </tr>
                </thead>
                <tbody id="sleeping" class="searchable">
                {% for company in companies %}
                    <tr>
                        <td>{{ company['TITLE'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="txt_3">
            <table id="table3" class="uk-table uk-table-hover uk-table-striped">
                <thead>
                <tr>
                    <th style="width: 31%">Компания</th>
                    <th style="width: 23%; text-align: center">
                        платы за 3 месяца
                    </th>
                    <th style="width: 23%; text-align: center">
                        3-6 месяцев назад
                    </th>
                    <th style="width: 23%; text-align: center">
                        > 6 месяцев назад
                    </th>
                </tr>
                </thead>
                <tbody id="lost" class="searchable">
                {% for company in companies %}
                    <tr>
                        <td>{{ company['TITLE'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                        <td>{{ company['ID'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="ajax-informer"></div>

</div>
<script>
    function tableSort() {
        for (let i = 1; i <= 3; i++) {
            $(document).ready(function () {
                $('#table' + i.toString()).DataTable({
                        "searching": false,
                        "lengthChange": false,
                        "pageLength": 50,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                        }
                    }
                );
            });
        }
    }
</script>
{% endblock %}



